<section class="module">
    <ol class="discussion">

        <span class="sidebar-heading" style="padding-top:25px;padding-left:15px;">Ask the host</span>
        <div class="message-container">
            {% if messages|length == 0 %}
                <p class="chat-no-messages">There are currently no messages in the chat.</p>
            {% endif %}
            {% for message in messages %}
                {% if message.user_op == session.hostplayer %}
                    <li class="self">
                        {% else %}
                    <li class="other">
                {% endif %}

            <div class="avatar"></div>
            <div class="messages">
                <p>{{ message.message }}</p>
                <time>{{ message.user_op }} • {{ session.time }} {{ message.date }}</time>
            </div>
            </li>
            {% endfor %}
        </div>
    </ol>

    <div class="chat-message-wrapper">
        <input type="text" placeholder="Leave a message..." class="chat-message form-control" />

        <button type="button" class="btn btn-group-sm btn-primary chat-message-send">Send</button>

    </div>

</section>