<div class="row clearfix">
	<div class="col-md-1 column logo-wrap">
		<div id="logo"></div>
	</div>
	<div class="col-md-9 column menu-wrap">
		<div id="top-nav">
			<ul>
				<li><span class="glyphicon glyphicon-home"></span><a href="#" title="Title goes here">Home</a></li>
				<li><span class="glyphicon glyphicon-tasks"></span><a href="#" title="Title goes here">Bookings</a></li>
				<li><span class="glyphicon glyphicon-wrench"></span><a href="#" title="Title goes here">Preferences</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-2 column cta-wrap">
		<div id="cta">
			<a class="btn btn-sm btn-success" href="#">Login</a>
			<a class="btn btn-sm btn-primary" href="#">Register</a>
		</div>					
	</div>
</div>