<div class="row clearfix header-mobile">
    <nav id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            {% if username %}
                <li><a href="/bookings/">Bookings</a></li>
                <li><a href="/preferences/">Preferences</a></li>
                <li><a href="/create/">Create a session</a></li>
                <li>
                    <a href="#">Sessions by Sport</a>
                    <ul>
                        {% for sport in sports %}
                            <li><a href="/sessions/{{ sport.sport_slug }}/">{{ sport.sport }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
                <li><a href="/create/">Create a session</a></li>
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
                <li><a href="/register/">Register</a></li>
            {% endif %}

        </ul>
    </nav>
</div>

<div class="row clearfix header-desktop">
    <div class="col-md-1 column logo-wrap">
        <a href="/"><div id="logo"></div></a>
    </div>
    <div class="col-md-7 column menu-wrap">
        <div id="top-nav">
            <ul style="margin-left:50px;">
                <li><a href="/" title="Title goes here"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                {% if username %}
                    <li><a href="/bookings/" title="Title goes here"><span class="glyphicon glyphicon-tasks"></span>Bookings</a></li>
                    <li><a href="/preferences/" title="Title goes here"><span class="glyphicon glyphicon-wrench"></span>Preferences</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="col-md-4 column cta-wrap">
        <div id="cta">
            {% if username %}
                <a href="/profile/{{ user.username }}" class="header-name">{{ user.first_name }} {{ user.last_name }}</a>
                <a class="btn btn-sm btn-primary btn-header" href="/logout/">Logout</a>
            {% else %}
                <a class="btn btn-sm btn-success btn-header" href="/login/">Login</a>
                <a class="btn btn-sm btn-primary btn-header" href="/register/">Register</a>
            {% endif %}

        </div>
    </div>
</div>