<div class="row clearfix">
    <div class="col-md-1 column logo-wrap">
        <a href="/"><div id="logo"></div></a>
    </div>
    <div class="col-md-9 column menu-wrap">
        <div id="top-nav">
            <ul>
                <li><a href="/" title="Title goes here"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                {% if username %}
                    <li><a href="/bookings/" title="Title goes here"><span class="glyphicon glyphicon-tasks"></span>Bookings</a></li>
                    <li><a href="/preferences/" title="Title goes here"><span class="glyphicon glyphicon-wrench"></span>Preferences</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="col-md-2 column cta-wrap">
        <div id="cta">
            {% if username %}
                <a class="btn btn-sm btn-primary" href="/logout/">Logout</a>
            {% else %}
                <a class="btn btn-sm btn-success" href="/login/">Login</a>
                <a class="btn btn-sm btn-primary" href="/register/">Register</a>
            {% endif %}

        </div>
    </div>
</div>