<span class="sidebar-heading">Sports</span>
<ul>
	<li><span class="basketball-icon"></span>Squash</li>
	<li><span class="basketball-icon"></span>Chess</li>
	<li><span class="basketball-icon"></span>Checkers</li>
	<li><span class="basketball-icon"></span>Tennis</li>
	<li><span class="basketball-icon"></span>Basketball</li>
</ul>
<span class="sidebar-heading">Filters</span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>