{% extends 'layouts/base.html' %}
{% block page_title %}Bookings{% endblock %}
{% block page_description %}Manage your bookings on PlayMaker{% endblock %}
{% block extra_libraries %}{% endblock %}
{% block content %}

    <h1>Bookings</h1>

    <h3>Events created by me</h3>
    {% include "partials/list_sessions.html" with sessions=sessions_i_created %}

    <h3>Events I joined</h3>
    {% include "partials/list_sessions.html" with sessions=sessions_i_joined %}

    <h3>Events I have offers on</h3>
    {% include "partials/list_sessions.html" with sessions=sessions_i_offered %}

{% endblock %}