{% extends 'layouts/base.html' %}
{% block page_title %}Account Preferences{% endblock %}
{% block page_description %}Manage your PlayMaker account preferences.{% endblock %}
{% block extra_libraries %}{% endblock %}
{% block content %}

    <h1>Preferences</h1>

    {% if updated %}
        <div>
            Preferences updated!
        </div>
    {% endif %}

    <form class="form-horizontal" role="form" id="login-form" method="POST" action="/login/">
        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="Name" name="name" value="{{ user.first_name }}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="Surname" name="surname" value="{{ user.last_name }}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="email" placeholder="E-mail" name="email" value="{{ user.email }}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="New password" name="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="password" placeholder="New password (confirm)" name="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-large btn-primary btn-block" id="submit">Update</button>
            </div>
        </div>

    </form>



{% endblock %}

