{% extends 'layouts/base.html' %}
{% block page_title %}Account Preferences{% endblock %}
{% block page_description %}Manage your PlayMaker account preferences.{% endblock %}
{% block extra_libraries %}

       <script type="text/javascript">

        $(document).ready(function() {

            // Remove red borders on click
            var $FORM = $( "#preferences-form");
            $FORM.on("change", "input", function() {
                $(this).css("border", "none");
            });

            $FORM.validate({
                rules: {
                    first_name: "required",
                    last_name: "required",
                    email: {
                        email: true,
                        required: "required"
                    },
                    password: {
                        minlength: 8
                    },
                    password_confirm: {
                        minlength: 8,
                        equalTo: $("#password")
                    }
                },
                messages: {
                    first_name: "Please enter your first name",
                    last_name: "Please enter your last name",
                    email: "Please enter your email"
                },
                errorPlacement: function(error, element) {
                    element.css("border", "1px solid red")
                           .attr("title", error.text())
                           .attr("data-placement", "top")
                           .attr("data-toggle", "tooltip")
                           .tooltip();
                }
            });

        });
    </script>

{% endblock %}
{% block content %}

    <h1>Preferences</h1>

    {% if updated and updated != None %}
        <div>
            Preferences updated!
        </div>
    {% elif not updated and updated != None %}
        <div>
            Something went wrong... try again
        </div>
    {% endif %}

    <form class="form-horizontal" role="form" id="preferences-form" method="POST" action="/preferences/">
        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="Name" name="first_name" value="{{ user.first_name }}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="Surname" name="last_name" value="{{ user.last_name }}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="email" placeholder="E-mail" name="email" value="{{ user.email }}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="New password" name="password" id="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" type="password" placeholder="New password (confirm)" name="password_confirm" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-large btn-primary btn-block" id="submit">Update</button>
            </div>
        </div>

    </form>


{% endblock %}

