{% extends 'layouts/base_full_width.html' %}
{% block page_title %}Register on PlayMaker{% endblock %}
{% block page_description %}Create an account on PlayMaker and find an opponent for your favourite type of sport.{% endblock %}
{% block extra_libraries %}

    <script type="text/javascript">

        $(document).ready(function() {

            // Remove red borders on click
            var $FORM = $( "#registration-form");
            $FORM.on("change", "input", function() {
                $(this).css("border", "none");
            });
            $FORM.on("change", "select", function() {
                $(this).css("border", "none");
            });

            $FORM.validate({
                rules: {
                    username: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    first_name: "required",
                    last_name: "required",
                    city: "required",
                    password: {
                        required: true,
                        minlength: 8
                    },
                    password_confirm: {
                        required: true,
                        minlength: 8,
                        equalTo: $("#password")
                    }
                },
                messages: {
                    username: "Please choose a username",
                    email: {
                        required: "Please enter your e-mail address",
                        email: "Please provide a valid e-mail address"
                    },
                    first_name: "Please enter your first name",
                    last_name: "Please enter your last name",
                    city: "Please select a city",
                    password: {
                        required: "Please enter a password",
                        minlength: "The password must be at least 8 characters long"
                    },
                    password_confirm: {
                        required: "Please enter the password again",
                        equalTo: "The passwords do not match"
                    }
                },
                errorPlacement: function(error, element) {
                    element.css("border", "1px solid red")
                           .attr("title", error.text())
                           .attr("data-placement", "top")
                           .attr("data-toggle", "tooltip")
                           .tooltip();
                }
            });


        });
    </script>

{% endblock %}
{% block content %}

    <div class="row clearfix">
        <div class="col-md-12 column splash">
            <div class="splash-left">
                <span class="splash-heading">Create an account</span>
                <span class="splash-description">...it takes just a few seconds...</span>
            </div>
            <div class="splash-right">
                <form class="form-horizontal" role="form" id="registration-form" action="/register/" method="POST">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input class="form-control" type="text" placeholder="Username" name="username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input class="form-control" type="text" placeholder="E-mail" name="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="First Name" name="first_name" />
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Last Name" name="last_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                            <select class="form-control" name="city">
                                <option value="" disabled selected>Please select your city...</option>
                                {% for city in cities %}
                                    <option value="{{ city.city }}">{{ city.city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-4">
                            <input class="form-control" type="password" placeholder="Password" name="password" id="password" />
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="password" placeholder="Password (again)" name="password_confirm" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-large btn-success btn-block" id="submit">Sign Up</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

{% endblock %}