{% extends 'layouts/base.html' %}
{% block page_title %}User Profile{% endblock %}
{% block page_description %}View user profile on PlayMaker.{% endblock %}
{% block extra_libraries %}{% endblock %}
{% block content %}

    {% if profile_username %}

        <h1>About {{ profile_username }}</h1>
        <b>Name:</b> {{ first_name }} {{ last_name }}<br>
        <b>City:</b> {{ city }}<br>
        <b>About:</b> {{ about }}<br>

    {% else %}

        User not found.

    {% endif %}

{% endblock %}
