{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block page_title %}View session{% endblock %}
{% block page_description %}View session details{% endblock %}
{% block extra_libraries %}
    <link href="{% static "css/chat.css" %}" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function(){

            var $sendButton = $(".chat-message-send");
            var $messageField = $(".chat-message");
            var $discussion = $(".discussion");

            // Adjust sidebar height to the max height of all containers
            $discussion.css("height", $(".uneven-heights").css("height").slice(0,-2)-34);
            // Send messages via AJAX
            $sendButton.click(function() {

                var message = $messageField.val();
                var url = "/sendmsg/";

                if (message.trim() != "") {
                    $.post(url, {
                        'message': message,
                        'session_id': {{ session.id }},
                        'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                    }).done(function() {
                        $messageField.val("");
                        reloadMessages({{ session.id }}, "{{ session.hostplayer }}");
                    });
                }
            });

            // Send chat message on
            $messageField.keypress(function(e) {
                if (e.which == 13) {
                    $sendButton.click();
                }
            });

            // Update chat messages every 1 second
            setInterval(function() {
                reloadMessages({{ session.id }}, "{{ session.hostplayer }}");
            }, 1000);

            $(".join-button").click(function() {
                var url = "/make-offer/";
                $.post(url, {
                    'session': {{ session.id }},
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                }).done(function(data, textStatus, xhr) {
                    location.reload();
                }).always(function(data, textStatus, xhr) {

                });
            });

            $(".withdraw-button").click(function() {
                var url = "/withdraw-offer/";
                $.post(url, {
                    'session': {{ session.id }},
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                }).done(function(data, textStatus, xhr) {
                    location.reload();
                }).always(function(data, textStatus, xhr) {

                });
            });

            $(".cancel-button").click(function() {
                var url = "/cancel-session/";
                $.post(url, {
                    'session': {{ session.id }},
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                }).done(function() {
                    location.reload();
                }).always(function(data, textStatus, xhr) {

                });
            });

            $(".accept-button").click(function() {
                var url = "/accept-offer/";
                $.post(url, {
                    'session': {{ session.id }},
                    'offer': $(this).data("id"),
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                }).done(function() {
                    location.reload();
                }).always(function(data, textStatus, xhr) {

                });
            });


        });


    </script>

{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="row session-details">
        <div class="col-md-8">
            <div class="row">
                <h1>{{ session.sport }} Session</h1>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="user-wrap">
                        <span title="Host" class="sport-icon user-icon"></span>
                        <a href="/profile/{{session.hostplayer}}" class="colourless">{{session.hostplayer}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-wrap">
                        <span title="Guest" class="sport-icon user-icon"></span>
                        {% if session.guestplayer %}
                            <a href="/profile/{{session.guestplayer}}" class="colourless">{{session.guestplayer}}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="detail-wrap">
                            <span title="Location" class="sport-icon location-icon"></span>
                            {{ session.city }}<br />
                            {{ session.location }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="detail-wrap">
                            <span title="Time" class="sport-icon time-icon"></span>
                            {{ session.time }}<br />
                            {{ session.date }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="detail-wrap">
                            <span title="Price" class="sport-icon pound-icon"></span>
                            {{ session.price }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="detail-wrap">
                            <span title="Offers" class="sport-icon offers-icon"></span>
                            {{ offer_count }} offers
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">

                        {% if session.details %}
                            <h5>Notes</h5>
                            {{ session.details }}
                            <hr />
                        {% endif %}

                        {% if session.hostplayer == user %}
                            <h5>Cancel the session</h5>
                            <button type="button" class="btn btn-group-sm btn-danger cancel-button">Cancel session</button>
                        {% elif joined %}
                            <h5>Withdraw offer</h5>
                            <button type="button" class="btn btn-group-sm btn-danger withdraw-button">Withdraw</button>
                        {% else %}
                            <h5>Join the event</h5>
                            <button type="button" class="btn btn-group-sm btn-primary join-button">Join</button>
                        {% endif  %}

                    </div>
                </div>
            </div>
            <hr />
            {% if session.hostplayer == user %}
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <h3>Accept an offer</h3>
                    <table>
                        <tr>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Actions</th>
                        </tr>
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.guest.username  }}</td>
                                <td>{{ offer.guest.first_name  }}</td>
                                <td>{{ offer.guest.last_name  }}</td>
                                <td><button type="button" class="btn btn-group-sm btn-primary accept-button" data-id="{{ offer.id }}">Accept</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="row">
                {% include 'partials/chat.html' %}
            </div>
        </div>
    </div>
    {% csrf_token %}

    <br /><br />
{% endblock %}
