{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block page_title %}View session{% endblock %}
{% block page_description %}View session details{% endblock %}
{% block extra_libraries %}
    <link href="{% static "css/chat.css" %}" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function(){
            // Send messages via AJAX
            $(".chat-message-send").click(function() {

                var message = $(".chat-message").val();
                var url = "/sendmsg/";

                // TODO: pick up CSRF token and ship it along with ajax request
                if (message.trim() != "") {
                    $.post(url, {
                        'message': message,
                        'session_id': {{ session.id }}
                    }).done(function() {
                        reloadMessages({{ session.id }}, "{{ session.hostplayer }}");
                    }).fail(function() {

                    });
                }

            });

            $(".join-button").click(function() {
                alert("asdasd");
                var url = "/make-offer/";
                $.post(url, {
                    'session': {{ session.id }},
                    'csrf_token': $("#csrfmiddlewaretoken").val()
                }).done(function() {
                    alert("Success join!");
                });
            });
        });


    </script>

{% endblock %}
{% block content %}

    <div class="row session-details">
        <div class="col-md-8">
            <div class="row">
                <h1>{{ session.sport }} Session</h1>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="user-wrap">
                        <span class="sport-icon user-icon"></span>
                        {{ session.hostplayer }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-wrap">
                        <span class="sport-icon user-icon"></span>
                        {{ session.guestplayer }}
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="detail-wrap">
                            <span class="sport-icon location-icon"></span>
                            {{ session.city }}<br />
                            {{ session.location }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="detail-wrap">
                            <span class="sport-icon time-icon"></span>
                            {{ session.time }}<br />
                            {{ session.date }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="detail-wrap">
                            <span class="sport-icon pound-icon"></span>
                            {{ session.price }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="detail-wrap">
                            <span class="sport-icon offers-icon"></span>
                            {{ offer_count }} offers
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">

                        {% if session.details %}
                            <h5>Notes</h5>
                            {{ session.details }}
                            <hr />
                        {% else %}
                            <h5>Join the event</h5>
                        {% endif %}
                        <button type="button" class="btn btn-group-sm btn-primary join-button">Join</button>
                    </div>

                    <div class="row">

                    </div>
                </div>
            </div>

            <hr />

        </div>
        <div class="col-md-4">
            <div class="row">
                {% include 'partials/chat.html' %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


{% endblock %}